body {
    font-family: Arial, sans-serif;
    background-color: #fbf700e7;
    padding: 20px;
  }
  h1 {
    color: #e91e63;
  }
  .produto {
    margin-bottom: 15px;
  }
  .produto input {
    margin-right: 10px;
  }
  #resumo {
    margin-top: 20px;
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
  }
